{% extends is_modal ? 'modal.twig' : 'page_app.twig' %}

{% block modal %}
        <section class="modal-home">
            <h1>Início</h1>
            <article>
                Bem-vindo!
            </article>
        </section>
{% endblock %}
