{% extends is_modal ? 'modal.twig' : 'page_app.twig' %}

{% block modal %}
        <section class="modal-people">
            <h1>Pessoas</h1>
            <article>
                ...
            </article>
        </section>
{% endblock %}
