{% extends is_modal ? 'modal.twig' : 'page_app.twig' %}

{% block modal %}
        <section class="modal-profile">
            <h1>Perfil</h1>
            <article>
                ...
            </article>
        </section>
{% endblock %}
