/*
 * layout
 */

body {
  background: #b9c8f6;
}

body > header, body > main, body > footer {
 background: #f6f6f6;
}

body > main noscript {
  display: block;
  padding: 0.5em;
}

body > footer {
 color: #888;
}

body > footer > div {
 padding: 0.5em 1em;
}


/*
 * form-login
 */

#form-login-wrapper {
  display: table-cell;
  vertical-align: middle;
}

#form-login {
  background: #fafafa;
  border: 1px solid #ddd;
  margin: 0.5em;
  padding: 1em;
}

#form-login label {
  display: block;
}


/*
 * > Mini screen
 */

@media screen and (min-width: 420px) {
  body {
    background-attachment: fixed;
    background-image: url('/.res/login_wallpaper.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 5px solid #6579b2;
    max-width: 360px;
  }

  #form-login {
    margin: 1em 0;
    padding: 1em 2em;
    position: relative;
      left: 3em;
  }
}
