        <nav class="current" data-name="global">
            <section class="small-screen">
                <span data-action="aside-toggle"><i class="icon-close"></i>Fechar</span>
            </section>
            <section>
                <span data-action="aside-nav-push" data-nav="profile"><i class="icon-user-circle-o"></i>Meu Perfil</span>
                <span data-action="search-engine"><i class="icon-search"></i>Busca</span>
            </section>
            <section>
                <h3>Pessoas</h3>
                <span data-action="create-account"><i class="icon-user-plus"></i>Novo cadastro</span>
                <span data-action="update-account"><i class="icon-pencil"></i>Alterar dados</span>
            </section>
            <section>
                <h3>Servidores</h3>
                <span data-action="manage-server"><i class="icon-cogs"></i>Gerenciar</span>
                <span data-action="analysis-server"><i class="icon-bar-chart"></i>Histório</span>
            </section>
        </nav>
        <nav data-name="profile">
            <section>
                <span data-action="aside-nav-pop"><i class="icon-chevron-left"></i>Voltar</span>
            </section>
            <section>
                <div>[Foto]</div>
                <div>{{ user.person.name }}</div>
                <span data-action="user-profile"><i class="icon-user-circle-o"></i>Ver perfil</span>
            </section>
            <section>
                <span data-action="user-logout"><i class="icon-sign-out"></i>Sair</span>
            </section>
        </nav>
