<!DOCTYPE html>
<html>
<head>
    <title>Brabecnet Sistema</title>
    <meta name="copyright" content="&copy; 2017 Brabecnet Serviços de Comunicação Multimídia LTDA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8" />
    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Oswald:400" />
{% for filename in stylesheets %}
    <link rel="stylesheet" href="/.css/{{ filename }}.css" />
{% endfor %}
</head>
<body>
    <header>
        <div>
            <div id="header-menu-btn" class="aside-switch small-screen"><i class="icon-navicon"></i></div>
            <img alt="Brabecnet" src="/.res/logo/horizontal.png">
        </div>
    </header>
    <main>
        <noscript>
            Para a completa funcionalidade deste site, é necessário habilitar o JavaScript.
            Siga estas instruções de <a href="http://www.enable-javascript.com/pt/" target="_blank">como habilitar o JavaScript no navegador</a>.
        </noscript>
{% block main %}
        <section id="main-default">
            <h1>Título</h1>
            <article>
                <p>Conteúdo</p>
            </article>
        </section>
{% endblock %}
    </main>
    <aside>
        <nav class="selected" data-name="menu-global">
            <span class="aside-switch small-screen"><i class="icon-close"></i> Fechar</span>
            <ul>
                <li>Menu</li>
            </ul>
        </nav>
    </aside>
    <footer>
        <div>
            Copyright &copy; 2017 Brabecnet Serviços de Comunicação Multimídia LTDA
        </div>
    </footer>
{% for filename in scripts %}
    <script src="/.js/{{ filename }}.js"></script>
{% endfor %}
</body>
</html>
